<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.ison.myview">

    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true" android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 每一个 activity 都应该创建--> <!-- android:theme="@style/AppTheme.NoActionBar" -->
        <activity
            android:name=".LinearLayoutActivity"
            android:label="LinearLayout"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ison.myview.LinearLayoutActivity" />
        </activity>

        <activity
            android:name=".FrameLayoutActivity"
            android:label="FrameLayout"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ison.myview.LinearLayoutActivity" />
        </activity>

        <activity
            android:name=".GridLayoutActivity"
            android:label="GridLayout"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ison.myview.GridLayoutActivity" />
        </activity>

        <activity
            android:name=".TableLayoutActivity"
            android:label="TableLayout"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ison.myview.TableLayoutActivity" />
        </activity>

        <activity
            android:name=".TextViewActivity"
            android:label="TableLayout"
            android:parentActivityName=".MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.ison.myview.TextViewActivity" />
        </activity>

    </application>

</manifest>